<%- include("include/header") %> <%- include("include/navbar") %>

<div class="page-content" id="content">
  <h2 class="title"> / </h2>
  <% for(let i = 0; i < 5; i++) { %>
  <div class="row">
    <% for(let j = 0; j < 2; j++) { %>
    <div class="col-lg-6 col-md-12 p-3">
      <p class="date">MARCH <%= i + j %>, 2019 by ŁUKASZ GUT</p>
      <h3 class="title"> Title <%= i + j %> </h3>
      <p class="text-justify"><%= content %>&hellip;</p>
      <h5><a class="read-more" href="/"> Read more </a> </h5>
    </div>
    <% } %>
  </div>
  <% } %> 

<%- include("include/footer") %>
